<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("background3.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
            text-align: center;
        }
        h1 {
            -webkit-text-stroke: 1px blue;
        }
        ul {
            list-style: none;
            padding: 0;
        }
        li {
            font-size: 1.5em;
            margin: 10px 0;
        }
    </style>
    <meta charset="UTF-8">
    <title>Want-to-Go List</title>
</head>
<body>
    <h1>Your Want-to-Go List</h1>
    <% if (list.length > 0) { %>
        <ul>
            <% list.forEach(destination => { %>
                <li><%= destination %></li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>Your Want-to-Go List is empty!</p>
    <% } %>

    <a href="/" class="btn btn-primary">Back to Home</a>
</body>
</html>
